fastapi
uvicorn
pymongo
python-dotenv
pydantic
pydantic[email]
python-jose[cryptography]
python-multipart
passlib[bcrypt]
pandas
numpy
sendgrid
requests>=2.31.0
reportlab
matplotlib
Pillow
dnspython
httpx>=0.25.0
